body {
  background: #C33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #C33764 , #1D2671); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #C33764 , #1D2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container.main, .container.styleguide {
  margin-top: 5vh;
  background: rgba(255, 255, 255, 0.6);
  width: 70vw;
  padding: 5px 25px;
  overflow: scroll;
}

.container::-webkit-scrollbar {
    /*-webkit-appearance: none;*/
}

.container::-webkit-scrollbar:vertical {
    width: 11px;
}

.container::-webkit-scrollbar:horizontal {
    height: 0px;
}

.container::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: rgba(255, 255, 255, 0.6); /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.frame::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

.container.styleguide {
  height: 90vh;
}

.container.main {
  height: 80vh;
}

.center {
  text-align: center;
}

h1 {
  text-align: center;
  color: #313975;
  font-family: 'Yrsa', serif;
  font-weight: 800;
}

h2 {
  color: #686A79;
  font-family: 'Yrsa', serif;
  font-weight: 100;
}

h3 {
  color: #2D1557;
  font-family: 'Yrsa', serif;
  font-weight: 500;
}

h4 {
  font-family: 'Source Sans Pro', serif;
  margin-bottom: 0;
  color: #080E3B;
  font-weight: 700;
}

p {
  font-family: 'Source Sans Pro', serif;
  color: #E6E8FC;
  margin-bottom: 0;
  font-weight: 200;
}

.btn-primary {
  background-color: #313975;
  color: #D8D9DF;
  border-color: #313975;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #D8D9DF;
  background-color: #482E74;
  border-color: #482E74;
}

.btn-lg {
  background-color: #080E3B;
  color: #E6E8FC;
  border-color: #080E3B;
}

.btn-lg:hover, .btn-lg:focus, .btn-lg:active, .btn-lg.active, .open>.dropdown-toggle.btn-lg {
  color: #E6E8FC;
  background-color: #2D1557;
  border-color: #2D1557;
}

.btn-sm {
  background-color: #535A92;
  color: #E6E8FC;
  border-color: #535A92;
}

.btn-sm:hover, .btn-sm:focus, .btn-sm:active, .btn-sm.active, .open>.dropdown-toggle.btn-sm {
  color: #E6E8FC;
  background-color: #674F91;
  border-color: #674F91;
}

hr {
  margin: 0;
  width: 30vw;
}

.top-panel {
  background-color: #E6E8FC;
  padding-left: -20px;
  margin-left: -30px;
  margin-right: -30px;
  margin-top: -5px;
}

.footer {
  /*background: rgba(255, 255, 255, 0.6);*/
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
}

.footer .container {
  width: 70vw;
  height: 100%;
  background-color: #8B8890;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.colors {
  display: flex;
}

.square{
  width: 60px;
  height: 60px;
  margin-right: 40px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.primary{
  background-color: #313975;
}

.primary1{
  background-color: #080E3B;
}

.primary2{
  background-color: #535A92;
}

.secondary{
  background-color: #482E74;
}

.secondary1{
  background-color: #2D1557;
}

.secondary2{
  background-color: #674F91;
}

.white1{
  background-color: #D8D9DF;
}

.white2{
  background-color: #E6E8FC;
}

.white3{
  background-color: #E6E8FC;
}

.gray1{
  background-color: #8A8B91;
}

.gray2{
  background-color: #8B8890;
}

.gray3{
  background-color: #686A79;
}

.gray-text{
  color: #686A79;
}

td img{
  height: 22px;
  width: 22px;
  margin-top: -9px;
}

.form-group{
  width: 40vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
}

.btn-add {
  margin-top: 22px;
}

.nopadding {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.nopadding-left {
  margin-left: 0;
  padding-left: 0;
}

.nopadding-right {
  margin-right: 0;
  padding-right: 0;
}

.padding-below {
  padding-bottom: 15px;
}

.padding-top {
  padding-top: 10px;
}

.margin-top {
  margin-top: 15px;
}

.margin-bottom {
  margin-bottom: 12px;
}

#more-top {
  margin-top: 20px;
}

.footer h4 {
  text-align: center;
}

.fullheight {
  height: 100%;
}

#edit-address, #edit-phone {
  margin-top: 15px;
}

td.edit, td.delete {
  width: 38px;
}

td.edit img, td.delete img {
  margin-top: 5px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left {
  align-items: flex-start;
  /*justify-content: flex-end;*/
}

.form-group {
  margin-bottom: 0px;
}

.table {
  padding-top: 10px;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

@media only screen
  and (min-device-width: 668px)
  and (max-device-width: 1045px) {

  .left {
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 32px;
  }

}


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {

  .left {
    align-items: center;
    justify-content: center;
  }

  .nopadding-left {
    padding: 0;
  }

}
