body {
  background: #C33764; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #C33764 , #1D2671); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #C33764 , #1D2671); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  margin-top: 5vh;
  background: rgba(255, 255, 255, 0.6);
  height: 90vh;
  width: 70vw;
  padding: 5px 25px;
  overflow: scroll;
}

h1{
  text-align: center;
}

td img{
  height: 22px;
  width: 22px;
  margin-top: -9px;
}

.form-group{
  width: 40vw;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-add {
  margin-top: 22px;
}

.nopadding {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.nopadding-left {
  margin-left: 0;
  padding-left: 0;
}

.nopadding-right {
  margin-right: 0;
  padding-right: 0;
}

.padding-below {
  padding-bottom: 15px;
}

#edit-address, #edit-phone {
  margin-top: 15px;
}

td.edit, td.delete {
  width: 38px;
}
